.about{
  // background-image: url(../img/about-me2.jpg);
  // background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-position: center;
  // -webkit-background-position: center;
  // -moz-background-position: center;
  // background-attachment: fixed;
  // -webkit-background-attachment: fixed;
  // -moz-background-attachment: fixed;

  //追加ここから
  position: relative;
  &::before{
    content: "";
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-image: url(../img/about-me2.jpg);
    background-size: cover;
    @include mq(sp){
      background-image: url(../img/about-me2sp.jpg);
    }
  }
  //ここまで
  
  &-text{
    @include card;
    padding: 40px 20px;
    width: 450px;
    margin: 50px 0 50px auto;
    transform: translateY(110px);
    @include mq(sp){
      margin: 200px auto 20px;
      max-width: 343px;
      width: 100%;
    }
    &-wrap{
      margin-bottom: 40px;
      h3{
        @include font(24);
        margin-bottom: 20px;
        b{
          @include font(16);
          font-family: $nameFont, $nameFontSb, $nameFontSec;
          color: $strongColor;
        }
        i{
          padding-right: 10px;
          color: $keyColor;
        }
      }
      &-box{
        margin-left: 30px;
        p{
          margin-bottom: 20px;
        }
      }
    }
  }
  .skils-wrap{
    display: flex;
    flex-wrap: wrap;
    &-box{
      width: calc(25% - 20px);
      margin: 0 10px 30px;
      text-align: center;
    }
  }
}