footer{
  background-color: $subColor;
  width: 100%;
  padding: 40px 0;
  @include font(12);
  text-align: center;
  color: $fontSub;
  .sns-container{
    padding-bottom: 20px;
    i{
      margin: 0 10px;
      @include trans;
      &:hover{
        color: $strongColor;
      }
    }
  }
}