.price{
  position: relative;
  background-color: $mainColor;
  overflow: hidden;
  &::before{
    position: absolute;
    display: block;
    content: "";
    top: 250px;
    left: -45px;
    transform: rotate(10deg);
    background-color: $subColor;
    width: 2000px;
    height: 300px;
    @include mq(sp){
      transform: rotate(0);
      height: 320px;
      top: 200px;
    }
  }
  &-wrapper{
    text-align: center;
    padding: 80px 0;
    &-title{
      @include font(24);
      font-family: $titleTopFont;
    }
    &-text{
      margin-bottom: 50px;
    }
    table{
      @include card;
      width: 100%;
      max-width: 800px;
      margin: 50px auto;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: left;
      border: 1px solid $fontSub;
      tr{
        height: 50px;
        th{
          width: 33%;
          padding-left: 10px;
          background-color: $keyColor;
          border: 1px solid $fontSub;
          @include mq(sp){
            width: 45%;
          }
        }
        td{
          width: 67%;
          padding-left: 10px;
          border: 1px solid $fontSub;
          @include mq(sp){
            width: 55%;
          }
        }
      }
    }
  }
}