.top{
  height: 100vh;
  width: 100%;
  &-wrapper{

  }
  &-logo{
    
  }
  &-text{
    writing-mode: vertical-rl;
  }
  &-video{
    position: relative;
    width: 700px;
    height: auto;
    &::after{
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.2);
    }
  }
}