@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: bottom;
}

body {
  font-family: "Arial", "ヒラギノ明朝 ProN", sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

.inner {
  position: relative;
  padding: 0px 24px;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

.top-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Didot";
  text-align: center;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .top-logo {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -80%);
  }
}

.top-logo-title {
  font-family: "Baskerville";
  font-size: 80px;
  font-size: 5rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 5px #fff, 0px 0px 10px #ffcccc, 0px 0px 20px #ff9999, 0px 0px 40px #ff6666, 0px 0px 60px #ff3333;
  animation: flash 5s linear infinite;
}

.top-logo-sbtitle {
  font-size: 30px;
  font-size: 1.875rem;
  color: #000;
  transition: all 1.5s linear;
  text-shadow: 0 0 5px #fff, 0 0 10px #333333;
}

.top-logo-text {
  font-size: 24px;
  font-size: 1.5rem;
  color: #000;
  transition: all 1.5s linear;
  text-shadow: 0 0 5px #fff, 0 0 10px #333333;
}

.top-logo-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 5px #ccc;
}

@keyframes flash {
  9%, 12%, 79%, 82%, 81%, 84% {
    opacity: 1;
  }
  50% {
    text-shadow: 0px 0px 30px #fff, 0px 0px 50px #ffcccc, 0px 0px 70px #ff9999, 0px 0px 90px #ff6666, 0px 0px 100px #ff3333;
  }
  0%, 100% {
    opacity: 1;
    text-shadow: 0px 0px 5px #fff, 0px 0px 10px #ffcccc, 0px 0px 20px #ff9999, 0px 0px 40px #ff6666, 0px 0px 60px #ff3333, 10px 10px 10px #ffcccc, 10px 10px 20px #ff9999, 10px 10px 40px #ff6666, 10px 10px 60px #ff3333, -10px -10px 10px #ffcccc, -10px -10px 20px #ff9999, -10px -10px 40px #ff6666, -10px -10px 60px #ff3333, 10px -10px 10px #ffcccc, 10px -10px 20px #ff9999, 10px -10px 40px #ff6666, 10px -10px 60px #ff3333, -10px 10px 10px #ffcccc, -10px 10px 20px #ff9999, -10px 10px 40px #ff6666, -10px 10px 60px #ff3333;
  }
  10%, 80%, 82% {
    opacity: 0.2;
  }
}

.top-text {
  position: absolute;
  writing-mode: vertical-rl;
  left: 100px;
  top: 50%;
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .top-text {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.top-text p {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.top-text p::before {
  position: absolute;
  display: block;
  content: "";
  top: -40px;
  right: 2px;
  width: 1px;
  height: 40px;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.1));
  animation: fallLight 2.5s linear 0s infinite;
}

@keyframes fallLight {
  0% {
    top: -40px;
  }
  100% {
    top: 100%;
  }
}

.banner {
  width: 100%;
  height: 82px;
  background-color: #333333;
}

.banner-title {
  font-size: 80px;
  font-size: 5rem;
  font-family: "Painted Brush Slant";
  opacity: 0.3;
  letter-spacing: 40px;
  line-height: 80px;
}

@media screen and (max-width: 767px) {
  .banner-title {
    overflow: hidden;
    letter-spacing: 28px;
  }
}

.banner-text {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "凸版文久見出しゴシック";
  position: absolute;
  bottom: 0;
  letter-spacing: 20px;
}

@media screen and (max-width: 767px) {
  .banner-text {
    left: 0;
    transform: translateX(0);
    width: 100%;
    text-align: center;
  }
}

.banner-title-about, .banner-title-work {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .banner-title-about, .banner-title-work {
    text-align: center;
  }
}

.banner-title-service, .banner-title-contact {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .banner-title-service, .banner-title-contact {
    text-align: center;
  }
}

.banner-text-about, .banner-text-work {
  right: 15%;
}

@media screen and (max-width: 767px) {
  .banner-text-about, .banner-text-work {
    left: 0;
    transform: translateX(0);
    width: 100%;
    text-align: center;
  }
}

.banner-text-service, .banner-text-contact {
  left: 15%;
}

@media screen and (max-width: 767px) {
  .banner-text-service, .banner-text-contact {
    left: 0;
    transform: translateX(0);
    width: 100%;
    text-align: center;
  }
}

.service-item {
  background-color: #fff;
  color: #555;
  box-shadow: 0px 0px 20px 0px;
  position: relative;
  width: 30%;
  padding: 40px 10px 20px;
}

@media screen and (max-width: 767px) {
  .service-item {
    width: 100%;
    max-width: 450px;
    margin-bottom: 80px;
  }
  .service-item .service-item:last-child {
    margin-bottom: 40px;
  }
}

.service-item-logo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-size: 1.875rem;
  background-color: #fff;
}

.service-item-title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .service-item-text {
    text-align: center;
  }
}

.work-item {
  display: block;
  margin: 10px;
  width: calc( 33% - 20px);
}

@media screen and (max-width: 1024px) {
  .work-item {
    width: calc( 50% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .work-item {
    width: 100%;
    margin: 30px 10px;
  }
}

.work-item-wrapper {
  position: relative;
  width: 100%;
}

.work-item-wrapper img {
  width: 100%;
  height: auto;
}

.work-item:hover .overlay {
  opacity: 0.8;
  transform: scale(1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top left, #f6b483, #ff3333);
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  background-color: #333333;
  font-weight: 900;
}

.btn {
  position: relative;
  width: 250px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  margin: 0 auto;
  background-color: #ff3333;
  color: #ffffff !important;
}

.btn:hover a {
  opacity: 0;
}

.btn-cover {
  width: 100%;
  text-align: center;
}

.btn a {
  display: block;
  position: absolute;
  background-color: #a9a9a9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.btn::before, .btn::after,
.btn a::before,
.btn a::after {
  content: "";
  position: absolute;
  background: #ff3333;
  z-index: 1;
}

.btn::before {
  bottom: 0;
  left: -50px;
  width: 50px;
  height: 1px;
  animation: leftAnim 1.5s linear 0s infinite;
}

.btn::after {
  bottom: -50px;
  right: 0;
  width: 1px;
  height: 50px;
  animation: bottomAnim 1.5s linear .75s infinite;
}

.btn a::before {
  top: 0;
  right: -50px;
  width: 50px;
  height: 1px;
  animation: rightAnim 1.5s linear 0s infinite;
}

.btn a::after {
  top: -50px;
  left: 0;
  width: 1px;
  height: 50px;
  animation: topAnim 1.5s linear 1.2s infinite;
}

@keyframes leftAnim {
  0% {
    left: -50px;
  }
  100% {
    left: 250px;
  }
}

@keyframes rightAnim {
  0% {
    right: -50px;
  }
  100% {
    right: 250px;
  }
}

@keyframes bottomAnim {
  0% {
    bottom: -50px;
  }
  100% {
    bottom: 250px;
  }
}

@keyframes topAnim {
  0% {
    top: -50px;
  }
  100% {
    top: 250px;
  }
}

.load {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}

.load-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
}

.load-top {
  position: absolute;
  top: calc(50% - 35px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  overflow: hidden;
  font-family: "Baskerville";
  font-size: 80px;
  font-size: 5rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 767px) {
  .load-top {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -75%);
  }
}

.load-top span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 5px #fff, 0 0 10px #e6e6e6;
}

.load-top::before, .load-top::after,
.load-top span::before,
.load-top span::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 999;
}

.load-top::before {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -250px;
  background: linear-gradient(to right, #fff, transparent);
  animation: loadRight 1.5s linear .75s infinite;
}

.load-top::after {
  width: 1px;
  height: 100%;
  top: -250px;
  right: 0;
  background: linear-gradient(to top, #fff, transparent);
  animation: loadTop 1.5s linear 0s infinite;
}

.load-top span::before {
  width: 100%;
  height: 1px;
  top: 0;
  left: -250px;
  background: linear-gradient(to left, #fff, transparent);
  animation: loadLeft 1.5s linear .75s infinite;
}

.load-top span::after {
  width: 1px;
  height: 100%;
  left: 0;
  bottom: -250px;
  background: linear-gradient(to bottom, #fff, transparent);
  animation: loadBottom 1.5s linear 0s infinite;
}

@keyframes loadRight {
  0% {
    right: -250px;
  }
  100% {
    right: 250px;
  }
}

@keyframes loadTop {
  0% {
    top: -250px;
  }
  100% {
    top: 250px;
  }
}

@keyframes loadLeft {
  0% {
    left: -250px;
  }
  100% {
    left: 250px;
  }
}

@keyframes loadBottom {
  0% {
    bottom: -250px;
  }
  100% {
    bottom: 250px;
  }
}

.logo_back {
  transform: translateY(80%);
  opacity: 0;
}

.top {
  height: 100vh;
  width: 100%;
  position: relative;
}

.top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top-video {
  width: 100%;
  height: 110%;
  object-fit: cover;
  object-position: center;
  position: fixed;
  z-index: -1;
  bottom: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: #333333;
  z-index: 110;
}

header .header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header .header-logo img {
  height: 100%;
}

header .header-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  header .header-list {
    display: none;
  }
}

header .header-list li {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

header .header-list li:hover {
  background-color: #ff3333;
}

header .header-list li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

header .header-list li + li {
  margin-left: 10px;
}

header .header-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  header .header-sp {
    position: fixed;
    z-index: 100;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

header .header-sp-list {
  padding: 100px 50px;
}

header .header-sp-list li {
  padding: 10px 0;
  margin: 10px 0;
  display: none;
}

header .header-sp-list li a {
  padding: 10px 0;
}

header .header-sp-list li a:hover {
  color: #ff3333;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

header .header-sp-list li a i {
  padding-right: 10px;
}

#header.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.8);
}

.header-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-toggle {
    position: relative;
    width: 35px;
    cursor: pointer;
  }
  .header-toggle:hover span {
    background: #ff3333;
  }
}

.header-toggle span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

.toggle_one_active {
  top: 25px;
}

.toggle_two_active {
  top: 40px;
}

.toggle_three_active {
  top: 55px;
}

.toggle_one {
  top: 40px;
  transform: rotate(45deg);
}

.toggle_two {
  opacity: 0;
}

.toggle_three {
  top: 40px;
  transform: rotate(-45deg);
}

.scroll_color {
  background-color: #ff3333;
}

.work {
  background-color: #333333;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 120px;
}

.service {
  position: relative;
  background-color: #cccccc;
}

.service::before {
  content: "";
  position: absolute;
  top: 80px;
  border-right: 100vw solid #333333;
  border-bottom: 200px solid #cccccc;
}

@media screen and (max-width: 767px) {
  .service::before {
    border-bottom: 150px solid #333333;
  }
}

.service-wrapper {
  position: relative;
  margin: 140px 0 100px;
}

@media screen and (max-width: 767px) {
  .service-wrapper {
    margin: 100px 0;
  }
}

.service-wrapper::before {
  content: "";
  position: absolute;
  bottom: -100px;
  border-left: 100vw solid #333333;
  border-top: 200px solid #cccccc;
}

@media screen and (max-width: 767px) {
  .service-wrapper::before {
    border-top: 200px solid #333333;
  }
}

.service-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .service-items {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.about {
  background-image: url(../img/about-me.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-text {
  background-color: #fff;
  color: #555;
  box-shadow: 0px 0px 20px 0px;
  padding: 40px 20px;
  width: 450px;
  margin: 50px 0 50px auto;
  transform: translateY(110px);
}

@media screen and (max-width: 767px) {
  .about-text {
    margin: 200px auto 20px;
    max-width: 343px;
    width: 100%;
  }
}

.about-text-wrap {
  margin-bottom: 40px;
}

.about-text-wrap h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about-text-wrap h3 b {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Zapfino";
  color: #ff3333;
}

.about-text-wrap h3 i {
  padding-right: 10px;
  color: #f6b483;
}

.about-text-wrap-box {
  margin-left: 30px;
}

.about-text-wrap-box p {
  margin-bottom: 20px;
}

.about .skils-wrap {
  display: flex;
  flex-wrap: wrap;
}

.about .skils-wrap-box {
  width: calc(25% - 20px);
  margin: 0 10px 30px;
  text-align: center;
}

.contact {
  background-color: #333333;
  padding-bottom: 100px;
}

.contact-text {
  text-align: center;
  padding: 80px 0;
  margin-top: 40px;
}

footer {
  background-color: #cccccc;
  width: 100%;
  padding: 40px 0;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
  color: #555;
}

footer .sns-container {
  padding-bottom: 20px;
}

footer .sns-container i {
  margin: 0 10px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
}

footer .sns-container i:hover {
  color: #ff3333;
}

.to-top {
  display: none;
  position: fixed;
  height: 50px;
  right: 50px;
  bottom: 35px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  writing-mode: vertical-rl;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  text-shadow: 0 0 5px #fff, 0 0 10px rgba(255, 255, 255, 0.8);
}

.to-top:hover {
  color: #ff3333;
}

.to-top:hover::before {
  background: linear-gradient(to bottom, #ff3333, transparent);
}

.to-top::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 25px;
  left: 0;
  bottom: -35px;
  background: linear-gradient(to bottom, #fff, transparent);
  animation: toTop 2s linear infinite;
}

@keyframes toTop {
  0% {
    bottom: -35px;
  }
  100% {
    bottom: 85px;
  }
}
