.archive-item{
  display: block;
  margin: 10px;
  width: calc( 33% - 20px );
  @include mq(){
    width: calc( 50% - 20px );
  }
  @include mq(sp){
    width: 100%;
    margin: 30px 10px;
  }
  &-wrapper{
    position: relative;
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  &:hover .overlay{
    opacity: 0.8;
    transform: scale(1);
  }
}