.btn{
  position: relative;
  width: 250px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  margin: 0 auto;
  background-color: $strongColor;
  color: $fontMain!important;
  &:hover a{
    opacity: 0;
  }
  &-cover{
    width: 100%;
    text-align: center;
  }
  a{
    display: block;
    position: absolute;
    background-color: #a9a9a9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    @include trans(0.2s);
  }
  &::before,
  &::after,
  a::before,
  a::after{
    content:"";
    position: absolute;
    background: $strongColor;
    z-index: 1;
  }
  &::before{
    bottom: 0;
    left: -50px;
    width: 50px;
    height: 1px;
    animation: leftAnim 1.5s linear 0s infinite;
  }
  &::after{
    bottom: -50px;
    right: 0;
    width: 1px;
    height: 50px;
    animation: bottomAnim 1.5s linear .75s infinite;
  }
  a::before{
    top: 0;
    right: -50px;
    width: 50px;
    height: 1px;
    animation: rightAnim 1.5s linear 0s infinite;
  }
  a::after{
    top: -50px;
    left: 0;
    width: 1px;
    height: 50px;
    animation: topAnim 1.5s linear 1.2s infinite;
  }
  @keyframes leftAnim {
    0%{left: -50px;}
    100%{left: 250px;}
  }
  @keyframes rightAnim {
    0%{right: -50px;}
    100%{right: 250px;}
  }
  @keyframes bottomAnim {
    0%{bottom: -50px;}
    100%{bottom: 250px;}
  }
  @keyframes topAnim {
    0%{top: -50px;}
    100%{top: 250px;}
  }
}