.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(right, $keyColor, $strongColor);
  background: -moz-linear-gradient(right, $keyColor, $strongColor);
  background: linear-gradient(to top left, $keyColor, $strongColor);
  opacity: 0;
  transform: scale(0.7);
  @include trans;
  &-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    background-color: $mainColor;
    font-weight: 900;
  }
}
