.top-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: $logoSubFont;
  text-align: center;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq(sp){
    width: 200px;
    height: 200px;
    transform: translate(-50%, -80%);
  }
  &-title{
    @include uk;
    text-shadow: 
                0px 0px 5px #fff,
                0px 0px 10px lighten($strongColor, 30%),
                0px 0px 20px lighten($strongColor, 20%),
                0px 0px 40px lighten($strongColor, 10%),
                0px 0px 60px $strongColor;
    animation: flash 5s linear infinite;
  }
  &-sbtitle{
    @include font(30);
    color: #000;
    transition: all 1.5s linear;
    text-shadow:
                0 0 5px #fff,
                0 0 10px lighten(#000, 20%);
  }
  &-text{
    @include font(24);
    color: #000;
    transition: all 1.5s linear;
    text-shadow:
                0 0 5px #fff,
                0 0 10px lighten(#000, 20%);
  }
  &-circle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
  }
}

@keyframes flash{
  9%, 12%, 79%, 82%, 81%, 84%{
    opacity: 1;
  }
  50%{
    text-shadow: 
                0px 0px 30px #fff,
                0px 0px 50px lighten($strongColor, 30%),
                0px 0px 70px lighten($strongColor, 20%),
                0px 0px 90px lighten($strongColor, 10%),
                0px 0px 100px $strongColor;
  }
  0%, 100%{
    opacity: 1;
    text-shadow: 
                0px 0px 5px #fff,
                0px 0px 10px lighten($strongColor, 30%),
                0px 0px 20px lighten($strongColor, 20%),
                0px 0px 40px lighten($strongColor, 10%),
                0px 0px 60px $strongColor,
                10px 10px 10px lighten($strongColor, 30%),
                10px 10px 20px lighten($strongColor, 20%),
                10px 10px 40px lighten($strongColor, 10%),
                10px 10px 60px $strongColor,
                -10px -10px 10px lighten($strongColor, 30%),
                -10px -10px 20px lighten($strongColor, 20%),
                -10px -10px 40px lighten($strongColor, 10%),
                -10px -10px 60px $strongColor,
                10px -10px 10px lighten($strongColor, 30%),
                10px -10px 20px lighten($strongColor, 20%),
                10px -10px 40px lighten($strongColor, 10%),
                10px -10px 60px $strongColor,
                -10px 10px 10px lighten($strongColor, 30%),
                -10px 10px 20px lighten($strongColor, 20%),
                -10px 10px 40px lighten($strongColor, 10%),
                -10px 10px 60px $strongColor;
  }
  10%, 80%, 82%{
    opacity: 0.2;
  }
}