$mainColor:#333333;
$subColor:#cccccc;
$keyColor:#f6b483;
$strongColor:#ff3333;
$fontMain:#ffffff;
$fontSub:#555;
$whiteColor:rgba(255,255,255,0.8);
$fontStrong:#fff462;
$cardColor:#fff;
$twitter:#00bfff;