$mainJapFont:'ヒラギノ明朝 ProN';
$mainEngFont:'Arial';
$logoTopFont:'Baskerville';
$logoSubFont:'Didot';
$titleBackFont:'Painted Brush Slant';
$titleTopFont:'凸版文久見出しゴシック';
$nameFont:'Zapfino';

$titleBackFontTwo:'Brush Script MT';
$titleBackFontSb:'Dancing Script', cursive;
$titleBackFontSec:'Kaushan Script', cursive;

$nameFontSb:'Alex Brush', cursive;
$nameFontSec:'Great Vibes', cursive;

